<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiappf6833b0959c94ab083851be24304446d.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiappf6833b0959c94ab083851be24304446d.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Microsoft-ApiAppf6833b0959c94ab083851be24304446d</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>Contoso.Apps.SportsLeague.Offers</AppServiceName>
    <ResourceGroupName>riprhinorage</ResourceGroupName>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Microsoft-ApiAppf6833b0959c94ab083851be24304446d</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContosoSportsLeague" Order="1" Enabled="False">
          <Destination Path="Data Source=riprhinoragedb.database.windows.net;Initial Catalog=riprhinorage_db;Persist Security Info=True;User ID=rhino;Password=p@ssw0rd!" />
          <Object Type="DbDacFx">
            <PreSource Path="" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ContosoSportsLeague_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContosoSportsLeague-Web.config Connection String">
      <ParameterValue>Data Source=riprhinoragedb.database.windows.net;Initial Catalog=riprhinorage_db;Persist Security Info=True;User ID=rhino;Password=p@ssw0rd!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>