<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://contoso.riprhinoase.p.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>contoso.scm.riprhinoase.p.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Contoso</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Contoso</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContosoSportsLeague" Order="1" Enabled="False">
          <Destination Path="Data Source=riprhino.database.windows.net;Initial Catalog=CSLManual;User ID=rhino;Password=p@ssw0rd!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Contoso.Apps.SportsLeague.Data.Models.ProductContext, Contoso.Apps.SportsLeague.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=riprhino.database.windows.net;Initial Catalog=CSLManual;User ID=rhino;Password=p@ssw0rd!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Contoso.Apps.SportsLeague.Web.Models.ApplicationDbContext, Contoso.Apps.SportsLeague.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContosoSportsLeague-Web.config Connection String">
      <ParameterValue>Data Source=riprhino.database.windows.net;Initial Catalog=CSLManual;User ID=rhino;Password=p@ssw0rd!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=riprhino.database.windows.net;Initial Catalog=CSLManual;User ID=rhino;Password=p@ssw0rd!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>